pip~=20.1.1
keyring~=21.3.0
flake8~=3.9.1
setuptools~=49.3.1
pyflakes~=2.3.1
mysql-connector-python~=8.0.23
py~=1.10.0
colorama~=0.4.3
filelock~=3.0.12
pluggy~=0.13.1
six~=1.15.0
toml~=0.10.2
packaging~=20.9
pytest~=6.2.3
Django~=2.2.16
sqlparse~=0.3.1
dnspython~=1.16.0
protobuf~=3.15.8
wheel~=0.34.2
pyparsing~=2.4.7
virtualenv~=20.4.2
distlib~=0.3.1
appdirs~=1.4.4
future~=0.18.2